#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background-color: #1c1c1e;
    padding: 20px;
}

.movieDetails {
    width: 100%;
    /*background-color: #0299cb42;*/
    display: flex;
    justify-content: flex-start;

}

.movieBackgroundImg {
    width: 50%;
    height: auto;
    max-height: 580px;
    overflow: hidden;
    position: relative;

}

.movieBackgroundImg img {
    margin-top: 5px;
    width: 98%;
    height: 98%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card {
    color: white !important;
    background-color: #2c2c2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #444b6e8a;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
    height: auto;
}

.card img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.card-content {
    width: auto;
    flex: 1;
}

.card-content h2 {
    margin: 0;
    font-size: 1.5rem;
}

.stars {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 2rem;
    color: rgb(128, 128, 128);
}

.star.filled {
    color: rgba(255, 242, 0, 0.936);
}
.genres{
    display: flex;

}

.keyword{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.button-adds{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #6b6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 0 5px;
}

button:hover {
    background-color: #bbbbbb;
}

.puntaje-container{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.puntaje-container {
    color: white;
}

.slider {
    width: 100%;
    margin: 10px 0;
}
.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logout-button {
    margin-left: auto;
}

.logout-button button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.logout-button button:hover {
    text-decoration: underline;
}

h1 {
    color: #0298cb;
    font-family: Bahnschrift Light;
}

.h1Container {
    height: 100px;
}

h3 {
    color: #0298cb;
    font-family: Bahnschrift Light;
    margin: 0px 0px 20px 10px;
}

h4 {
    font-family: Bahnschrift Light;
    text-align: justify;
}

p {
    font-family: Bahnschrift Light;
    text-align: justify;
}

.pContainer {
    height: 75px;
}

.containerCast {
    font-family: Bahnschrift Light;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    max-width: 640px;
    background-color: #2c2c2e;
    border-radius: 8px;
}

.movieCast {
    flex: 0 0 auto;
    width: 120px;
    text-align: center;
    margin-right: 10px;
}

.movieCast img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.movieCast h2 {
    font-size: 1rem;
    margin: 0;
    color: #fff;
}

.recommendedMovieContainer {
    font-family: Bahnschrift Light;
    background-color: #2c2c2e;
    border-radius: 8px;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
}

.recommendedMovies {
    display: flex;
    overflow-x: auto;
    padding-top: 5px;
}

.recommendedMovie {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    margin-right: 20px;
}

.recommendedMovie img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.recommendedMovie h2 {
    font-size: 1rem;
    margin: 5px 0;
    color: #fff;
}

.recommendedMovie p {
    text-align: justify;
    font-size: 0.9rem;
    color: #ccc;
}
