<!--
José Eduardo Hirales Núñez
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="movieDetail.css">
</head>

<body>
    <div id="main">
        <div class="nav-bar">
            <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">WatchMovies!</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" @click="redirectHome">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" @click="goBack">Volver</a>
                            </li>
                        </ul>
                        <div class="logout-button">
                            <button @click="logout">Log Out</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="details">
            <div class="movieDetails">
                <div class="card" v-if="movie.id">
                    <img :src="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + movie.poster_path"
                        alt="movie poster">
                    <div class="card-content">
                        <div class="h1Container">
                            <h1>{{ movie.title }}</h1>
                        </div>
                        <div class="genres">
                            <button class="genre" v-for="genre in genres" >
                                {{genre.name}}
                            </button>
                        </div>
                        <br>
                        <div class="button-adds">
                            <button class="favorite" @click="addFavorite">
                                <span> {{ favorite }} </span>
                            </button>
                            <button class="watch-trailer" @click="redirectTrailer">
                                <span>Ver Trailer</span>
                            </button>

                        </div>
                        <br>
                        <br>
                        <div class="info-container">
                            <p>{{ movie.overview.slice(0, 200) }}{{ movie.overview.length > 200 ? '...' : '' }}</p>
                        </div>

                        <div class="puntaje-container">
                            <h2>Califica esta película (0 - 100): {{calificar}}</h2>
                            <input type="range" v-model.number="calificar" id="rating" min="0" max="100" step="5"
                                class="slider" placeholder="a">
                            <div class="button-container">
                                <button @click="setRating">Save</button>
                                <button @click="deleteRating()">Delete</button>
                            </div>
                        </div>

                        <br>
                        <div class="keyword">
                            <h3>Palabras Claves</h3>
                            <br>
                            <div class="keyword">

                                <button class="button-keyword" v-for="keyword in keywords"
                                    @click="redirectKeyword(keyword)">{{keyword.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="containerCast">
                <h3>Movie cast</h3>
                <div class="movieCast" v-for="actor in actors" :key="actor.id" @click="redirectActors(actor)">
                    <img :src="'https://image.tmdb.org/t/p/w500' + actor.profile_path" alt="actor.name"
                        v-if="actor.profile_path">
                    <h2>{{ actor.name }}</h2>
                </div>

            </div>

            <div class="recommendedMovieContainer">
                <h3>Recommended movies</h3>
                <div class="recommendedMovies">
                    <div class="recommendedMovie" v-for="(movie, index) in recommendedMovies.slice(0, 10)"
                        :key="movie.id" @click="viewRecommendedMovie(movie.id)" style="cursor: pointer;">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="movie.title"
                            v-if="movie.backdrop_path">
                        <h2>{{ movie.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp, ref } = Vue;
        createApp({
            data() {
                const favoriteFlag = ref(0);
                const favorite = ref("");
                const genres = ref([]);
                const keywords = ref([]);
                const calificar = ref(50)
                const movieTrailer = ("")
                return {
                    movieId: null,
                    movie: {},
                    rating: 0,
                    actors: [],
                    recommendedMovies: [],
                    favorite,
                    favoriteFlag,
                    genres,
                    keywords,
                    calificar,
                    movieTrailer
                }
            },
            methods: {

                redirectHome() {
                    window.location.href = `movies.html`;
                },
                redirectTrailer() {
                    window.open(`https://www.youtube.com/watch?v=${this.movieTrailer}`, '_blank');
                },
                redirectActors(actor) {
                    window.location.href = `artistDetail.html?id=${actor.id}`;
                }, redirectKeyword(keyword) {
                    window.location.href = `pClave.html?id=${keyword.id}`;
                },
                redirectHome() {
                    window.location.href = `home.html`;
                },
                logout() {
                    localStorage.clear();
                    window.location.href = "index.html";
                },
                goBack() {
                    window.history.back();
                },

                addFavorite() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const idPelicula = urlParams.get('id');
                    const session = localStorage.getItem("session");
                    let username = localStorage.getItem("username");
                    const myHeaders = new Headers();
                    myHeaders.append("Content-Type", "application/json");
                    myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw");
                    this.favoriteFlag = this.favoriteFlag === 1 ? 0 : 1;
                    this.favorite = this.favoriteFlag === 1 ? "Remove from Favorite" : "Add to Favorite";



                    const raw = JSON.stringify({
                        "media_type": "movie",
                        "media_id": idPelicula,
                        "favorite": this.favoriteFlag === 1 ? true : false
                    });

                    const requestOptions = {
                        method: "POST",
                        headers: myHeaders,
                        body: raw,
                        redirect: "follow"
                    };

                    fetch(`https://api.themoviedb.org/3//account/${idPelicula}/favorite?session_id=${session}`, requestOptions)
                        .then((response) => response.json())
                        .then((result) => {

                        })
                        .catch((error) => console.error(error));


                },
                getDetails(movieId) {
                    console.log(`Fetching details for movie ID: ${movieId}`);
                    const url = `https://api.themoviedb.org/3/movie/${movieId}?api_key=a6a488b515b4ce93c09d8af3c641eb43`;

                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error: ' + response.status + ' ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            this.movie = data;
                            console.log(data)
                            this.genres = data.genres
                            this.getCast(movieId);
                            this.getRecommendedMovies(movieId);
                            this.loadRating();
                        })
                        .catch(error => {
                            console.log("Error: " + error);
                        });
                },
                getMovieIdFromUrl() {
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get('id');
                },
                saveRating() {
                    localStorage.setItem(`rating_${this.movieId}`, this.rating);
                },
                loadRating() {
                    const storedRating = localStorage.getItem(`rating_${this.movieId}`);
                    if (storedRating !== null) {
                        this.rating = parseFloat(storedRating);
                        console.log('Rating loaded:', this.rating);
                    }
                },
                deleteRating() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const idPelicula = urlParams.get('id');
                    const session = localStorage.getItem("session");

                    const myHeaders = new Headers();
                    myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw");

                    const requestOptions = {
                        method: "DELETE",
                        headers: myHeaders,
                        redirect: "follow"
                    };

                    fetch(`https://api.themoviedb.org/3//movie/${idPelicula}/rating?session_id=${session}`, requestOptions)
                        .then((response) => response.json())
                        .then((result) => {

                        })
                        .catch((error) => console.error(error));
                    this.calificar = 0;

                    alert("tu onda ha sido destruida.");
                },
                setRating() {
                    const urlParams = new URLSearchParams(window.location.search)
                    const idPelicula = urlParams.get('id')
                    const myHeaders = new Headers();
                    myHeaders.append("Content-Type", "application/json");
                    myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw");

                    const raw = JSON.stringify({
                        "value": (this.calificar / 10)
                    });

                    const requestOptions = {
                        method: "POST",
                        headers: myHeaders,
                        body: raw,
                        redirect: "follow"
                    };

                    const session = localStorage.getItem("session");
                    fetch(`https://api.themoviedb.org/3//movie/${idPelicula}/rating?session_id=${session}`, requestOptions)
                        .then((response) => response.json())
                        .then((result) => {
                            console.log(result.success)
                        })
                        .catch((error) => console.error(error));
                    if (this.calificar >= 80) {
                        alert("oye que buena onda te traes")
                    } else if (this.calificar >= 60 && this.calificar <= 79) {
                        alert("oye te cargas una onda media")
                    } else {
                        alert("oye te cargas una mala onda ")
                    }

                },
                getCast(movieId) {
                    const url = `https://api.themoviedb.org/3/movie/${movieId}/credits?api_key=a6a488b515b4ce93c09d8af3c641eb43`;
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            this.actors = data.cast;
                        })
                        .catch(error => {
                            console.log("Error fetching cast:", error);
                        });
                }, redirectActors(cast) {
                    window.location.href = `artistDetail.html?id=${cast.id}`;
                },
                getRecommendedMovies(movieId) {
                    const url = `https://api.themoviedb.org/3/movie/${movieId}/recommendations?api_key=a6a488b515b4ce93c09d8af3c641eb43`;
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            this.recommendedMovies = data.results;
                        })
                        .catch(error => {
                            console.log("Error fetching recommended movies:", error);
                        });
                },
                viewRecommendedMovie(movieId) {
                    window.location.href = `?id=${movieId}`;
                }, logout() {
                    localStorage.clear();
                    window.location.href = "index.html";
                }
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search)
                const idPelicula = urlParams.get('id')
                let is_log = localStorage.getItem("is_log");
                let username = localStorage.getItem("username");
                const session = localStorage.getItem("session");


                if (is_log == null && username == null) {
                    window.location.href = "index.html";
                }
                const myHeaders = new Headers();
                myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw");

                const requestOptions = {
                    method: "GET",
                    headers: myHeaders,
                    redirect: "follow"
                };

                fetch(`https://api.themoviedb.org/3//account/${username}/favorite/movies?session_id=${session}`, requestOptions)
                    .then((response) => response.json())
                    .then((result) => {
                        const serie = result.results.find(serie => serie.id == idPelicula);
                        if (serie) {
                            this.favoriteFlag = 1
                            this.favorite = "Remove from Favorite"
                        } else {
                            this.favoriteFlag = 0
                            this.favorite = "Add to Favorite"
                        }
                    })
                    .catch((error) => console.error(error));


                const myHeaders2 = new Headers();
                myHeaders2.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw");

                const requestOptions2 = {
                    method: "GET",
                    headers: myHeaders2,
                    redirect: "follow"
                };

                fetch(`https://api.themoviedb.org/3//movie/${idPelicula}/keywords`, requestOptions2)
                    .then((response) => response.json())
                    .then((result) => {

                        this.keywords = result.keywords
                        console.log(this.keywords)
                    })
                    .catch((error) => console.error(error));

                const myHeaders3 = new Headers();
                myHeaders3.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw");

                const requestOptions3 = {
                    method: "GET",
                    headers: myHeaders3,
                    redirect: "follow"
                };


                fetch(`https://api.themoviedb.org/3/account/${username}/rated/movies?session_id=${session}`, requestOptions3)
                    .then((response) => response.json())
                    .then((result) => {
                        const movie = result.results.find(movie => movie.id == idPelicula);
                        if (movie) {
                            this.calificar = movie.rating * 10;
                        } else {
                            this.calificar = 0;
                        }

                    })
                    .catch((error) => console.error(error));


                const myHeaders4 = new Headers();
                myHeaders4.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw");

                const requestOptions4 = {
                    method: "GET",
                    headers: myHeaders4,
                    redirect: "follow"
                };

                fetch(`https://api.themoviedb.org/3//movie/${idPelicula}/videos?language=en-US`, requestOptions4)
                    .then((response) => response.json())
                    .then((result) => {

                        this.movieTrailer = result.results[0].key
                    })
                    .catch((error) => console.error(error));

                this.movieId = this.getMovieIdFromUrl();
                if (this.movieId) {
                    console.log(this.movie)
                    this.getDetails(this.movieId);
                }
            }
        }).mount('#main');
    </script>
</body>

</html>