<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medios por Palabra Clave</title>
    <link rel="stylesheet" href="pClave.css">
      
</head>
<body>
  <div id="app" class="container">
    <h1>Listado por Palabra Clave</h1>
  
    <div class="dropdown" :class="{ 'open': isOpen }">
      <button @click="toggleDropdown" class="dropdown-button">
        {{ mediaType === 'movie' ? 'Películas' : 'Series' }}
        <span class="arrow"></span>
      </button>
      <ul class="dropdown-menu" v-if="isOpen">
        <li @click="changeMediaType('movie')">Películas</li>
        <li @click="changeMediaType('tv')">Series</li>
      </ul>
    </div>
  
    <div v-for="media in mediaList" :key="media.id" class="card" @click="redirectTvSeries(media)">
      <img :src="'https://image.tmdb.org/t/p/w500' + media.poster_path" :alt="media.title || media.name">
      <div class="card-content">
        <h3 class="card-title">{{ media.title || media.name }}</h3>
        <p class="card-date">{{ new Date(media.release_date || media.first_air_date).toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' }) }}</p>
        <p class="card-overview">{{ media.overview }}</p>
      </div>
    </div>
  </div>
  
    

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, onMounted, watch } = Vue;
  
    createApp({
      setup() {
        const urlParams = new URLSearchParams(window.location.search);
        const idPelicula = urlParams.get('id');
        const mediaType = ref("movie");
        const mediaList = ref([]);
        const isOpen = ref(false); 
        const keywordId = ref(`${idPelicula}`);
        const apiKey = '06f17c2da2049684e4cbbf915bb7fa91';
        const apiToken = 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNmYxN2MyZGEyMDQ5Njg0ZTRjYmJmOTE1YmI3ZmE5MSIsIm5iZiI6MTcyODQyMDc0Ny45MjIzMDUsInN1YiI6IjY3MDU5OTM4ZjRiOTE5ZjgzOTc3OGJmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P2ljJ6l49mdKja0Fj5G-9mQ0CJcJKah8c_KjT_U2OVw';
  
        const fetchMedia = () => {
          if (!keywordId.value) {
            console.error("No se ha proporcionado un ID de palabra clave.");
            return;
          }
  
          const url = `https://api.themoviedb.org/3/discover/${mediaType.value}?api_key=${apiKey}&language=es-ES&with_keywords=${keywordId.value}&sort_by=popularity.desc`;
  
          fetch(url, {
            method: "GET",
            headers: {
              "Authorization": apiToken,
              "Content-Type": "application/json;charset=utf-8"
            }
          })
          .then(response => response.json())
          .then(data => {
            mediaList.value = data.results;
          })
          .catch(error => console.error("Error al obtener la lista de medios:", error));
        };
  
        onMounted(fetchMedia);
        watch(mediaType, fetchMedia);
  
        const toggleDropdown = () => {
          isOpen.value = !isOpen.value;
        };
  
        const changeMediaType = (type) => {
          mediaType.value = type;
          isOpen.value = false; 
        };
  
        return {
          mediaType,
          mediaList,
          isOpen,
          toggleDropdown,
          changeMediaType
        };
      },
      methods: {
        redirectTvSeries(serie) {
          if (this.mediaType === "tv") {
            window.location.href = `tvSeries.html?id=${serie.id}`;
          } else {
            window.location.href = `movieDetail.html?id=${serie.id}`;
          }
        }
      }
    }).mount('#app');
  </script>

</body>
</html>
