body {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url('fondoMovie.jpg');
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

#main {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.card-info-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    width: 58%;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.card-info-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 1;

}

.info-container {
    position: relative;
    z-index: 2;
}

.info-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.keywords-bar h2 {
    color: white;
}

.keyword-button {
    margin-right: 10px;
}

.puntaje-container,
.reparto-container,
.recommendation {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.puntaje-container,
.reparto-container,
.recommendation h2 {
    color: white;
}

.puntaje-btn {
    display: flex;
    flex-direction: row;
}

.puntaje-btn button {
    margin: 10px 10px 10px 0;
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: #3399ff;
    border: 0px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.puntaje-btn button:hover {
    background-color: #158aff;
    color: white;
    transform: scale(1.05);
}

.slider {
    width: 100%;
    margin: 10px 0;
}

.card {
    width: 500px;
    height: 254px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 2;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.actores,
.director {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Sombra de texto */
}

.sinopsis {
    margin-right: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Sombra de texto */
}

.director {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Sombra de texto */
}

.director span {
    display: inline-block;
    margin-right: 20px;
}

.reparto {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
    margin-top: 20px;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.reparto::-webkit-scrollbar {
    height: 8px;
}

.reparto::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.actor-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    flex-shrink: 0;
    text-align: center;
}

.actor-card img {
    width: 100%;
    border-radius: 8px;
}

.actor-card h3 {
    font-size: 1rem;
    margin: 10px 0 5px 0;
}

.actor-card p {
    font-size: 0.9rem;
    color: #000;
}

.ver-mas {
    text-align: left;
    margin-top: 10px;
}

.ver-mas a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

.ver-mas a:hover {
    color: #004499;
}

.card-recommendation-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-recommendation-container::-webkit-scrollbar {
    height: 8px;
}

.card-recommendation-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.card-recommendation-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card-recommendation {
    flex: 0 0 auto;
    margin-right: 10px;
    width: 150px;
}

.season-container {
    max-width: 700px;
    margin: 50px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.season-card {
    display: flex;
    align-items: flex-start;
}

.season-card img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.season-card-content {
    margin-left: 20px;
}

.season-card-content h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.rating {
    background-color: #2e3b4e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

.info {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}

.description {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

.episode-info {
    margin-top: 15px;
}

.episode-info span {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #555;
}

.episode-info .end-tag {
    background-color: #2e3b4e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

.view-seasons {
    margin-top: 20px;
    color: #2e3b4e;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.view-seasons:hover {
    text-decoration: underline;
}

button.favorite {
    margin-top: 20px;
    background-color: #158aff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}