body {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000 !important;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.nav-bar {
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: #7A1CAC !important;
}

.content {
    margin-top: 60px;
}

.logout-button {
    margin-left: auto;
}

.contenedor-supremo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f0f0f0;
}

#main {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card-info-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
    /* color: white; */
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    align-items: center;
}

.card-info-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 1;
}

#card-img {
    opacity: 1 !important;
    z-index: 2;
}

.info-container {
    position: relative;
    color: white;
    z-index: 2;
}

.info-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.btn-adds {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

button {
    background-color: #7A1CAC;
    border: none;
    margin-left: 10px;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

button:hover {
    background: linear-gradient(144deg, #7A1CAC 50%, #2E073F);
    transform: scale(1.05);
}

.keyword {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keywords-bar h2 {
    color: white;
}

.keyword-button {
    margin-right: 5px;
    margin-top: 10px;

}

.puntaje-container,
.reparto-container,
.recommendation {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.puntaje-container,
.reparto-container,
.recommendation h2 {
    color: white;
}

.puntaje-btn {
    display: flex;
    flex-direction: row;
}

/* .puntaje-btn button {
    margin: 10px 10px 10px 0;
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: #3399ff;
    border: 0px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
} */

.puntaje-btn button:hover {
    background-color: #158aff;
    color: white;
    transform: scale(1.05);
}

.slider {
    background-color: aliceblue !important;
    width: 100%;
    margin: 10px 0;
}

.card {
    flex: 0 0 auto;
    width: 300px;
    border-radius: 6px;
    border: none;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
}

#card-img {
    width: 100%;
    border-radius: 6px;
}

.actores,
.director {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Sombra de texto */
}

.sinopsis {
    margin-right: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Sombra de texto */
}

.director {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Sombra de texto */
}

.director span {
    display: inline-block;
    margin-right: 20px;
}

.reparto {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
    margin-top: 20px;
    scroll-behavior: smooth;
    max-width: 100%;
}

.reparto::-webkit-scrollbar {
    height: 8px;
}


.actor-card {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 12px;
    background: #2E073F !important;
    padding: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.actor-card img {
    width: 100%;
    border-radius: 8px;
}

.actor-card h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: white;
}

.actor-card p {
    font-size: 0.9rem;
    color: #fff;
}

.ver-mas {
    text-align: left;
    margin-top: 10px;
}

.ver-mas a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

.ver-mas a:hover {
    color: #004499;
}

.card-recommendation-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    border-radius: 10px;
    max-width: 100%;
    cursor: pointer;
    /* Cambia el cursor a pointer */
}

.card-recommendation-container::-webkit-scrollbar {
    height: 8px;
}

.card-recommendation-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.card-recommendation-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card-recommendation {
    flex: 0 0 auto;
    width: 200px;
    background: #2E073F !important;
    border: 5px solid;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.info-recommendation h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: white;
}

.rating {
    color: white;
}

.season-container {
    max-width: 700px;
    margin: 50px 0;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.season-img {
    width: 200px;
    height: 300px;
}

.genres-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    /* Aumenté el espacio entre los botones */
    margin: 20px 0;
    /* Margen superior e inferior */
}

.genre-button {
    background-color: #3399ff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.genre-button:hover {
    background-color: #158aff;
    transform: scale(1.05);
}
.nav-link{
    cursor: pointer;
}